@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

:root {
    --preto: #141414;
    --cinza: #1f1f1f;
    --branco: #fff;
    --neonverde: #c4fb2a;
    --cinzaclaro: #333;
}

body{
background-color: var(--preto);
height: 100svh;
display: flex;
justify-content: center;
align-items: center;

}

div {
background-color: var(--cinza);
color: var(--branco);
max-width: 384px;
text-align: center;
padding: 40px;
border-radius: 12px;
}

ul, li {
    list-style: none;
}

img {
    width: 88px;
    border-radius: 50%;
    margin-bottom: 24px;
}

h1 {
font-size: 24px;
font-weight: 600px;
line-height: 50%;
margin-bottom: 24px;
}

strong {
font-size: 14px;
color: var(--neonverde);
line-height: 150%;
}

p {
    margin-block: 24px;
    font-size: 14px;
    line-height: 170%;
}

a{
    display: block;
    color: var(--branco);
    text-decoration: none;
    background-color: var(--cinzaclaro);
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
}

a:hover {
    background-color: var(--neonverde);
    color: var(--cinza);
    transition: 0.7s;
}